@media(max-width:490px){
    
    main{
        padding: 34px;

        .section{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 15px;
    
            &_img{
                width: 70%;
                height: auto;
                margin-left: 99px;
                margin-top: 2px;
                border-radius: 22px;
                transition: 0.3s ease-in-out;
            }
    
            &_p{
                padding: 103px;
                margin: -64px;
                text-align: center;
            
            }
        
    
        }
    }

}